{% capture assets %}/assets{{ page.url }}{% endcapture %}{% assign imageNr = 0 %}<div class=gallery>{% for image in site.static_files %}{%
    if image.path contains assets %}{% unless image.path contains "profile" %}
    <figure>
        <a class=image href={{ image.path }} style="background-image:url({{ image.path }})" target=_blank></a>
        <figcaption>{{ page.gallery[imageNr] }}</figcaption>
    </figure>{% assign imageNr = imageNr | plus: 1 %}{% endunless %}{%
    endif %}{%
    endfor %}
</div>
