{% capture assets %}/assets{{ page.url }}{% endcapture %}{% assign imageNr = 0 %}<div class=~wide>
    <div class="masonry ~size">{% for image in site.static_files %}{%
        if image.path contains assets %}{% unless image.path contains "profile" %}
        <figure>
            <a href={{ image.path }}>
                <img src={{ image.path }} alt="{{ page.gallery[imageNr] }}">
                <figcaption><span class=~clip>{{ page.gallery[imageNr] }}</span></figcaption>
            </a>
        </figure>{% assign imageNr = imageNr | plus: 1 %}{% endunless %}{%
        endif %}{%
        endfor %}
    </div>
</div>
