{% if include.data
%}<article class=item>{%
    assign item = include.data %}{%
    assign l10n = site.data.l10n.publication %}{%
    if include.full %}{% assign h = "h1" %}{% elsif include.short %}{% assign h = "h3" %}{% else %}{% assign h = "h2" %}{% endif %}{%

    if include.short == nil %}{%
        assign poster = item.url | remove_first: "/" | remove_first: page.lang | append: ".jpg" %}{%
        assign poster = poster | prepend: "/assets" %}{%

        for image in site.static_files %}{%
            if image.path contains poster %}{%
                assign hasImage = true %}
    <a href={{ item.url }}><img class=media src={{ poster }} alt="{{ item.title }}"></a>{%
            endif %}{%
        endfor %}{%

        if item.link contains "www.youtube.com"
            %}{% include video.html data = item full = include.full %}{%
        endif %}{%
    endif

    %}
    <{{ h }}><a href={{ item.url }} title="{{ item.title }}">{{ item.title }}</a></{{ h }}>{%
if include.short %}{%
    assign link = " ... <a href=" | append: item.url | append: ">המשך קריא</a>" %}
    <p>{{ item.text | markdownify | strip_html | truncatewords: 10, link }}</p>{%
else %}
    <p>{{ item.text }}</p>{%
    if item.link %}    <ul class=sheet>
        <li class=row>
            <div class="column label">{{ l10n[0].title }}</div>
            <div class=column><a class=nowrap href="{{ item.link }}" target=_blank>{{ item.link  | remove: "https://" | remove: "http://" }}</a></div>
        </li>
    </ul>{%
    endif %}{%
endif %}
    {% include date.html value = item.url %}</article>{%
endif %}
