/*

Resources
CSS escapes https://mothereff.in/css-escapes

*/
@viewport {
    width: device-width;
}
html,
body {
    height: 100%;
}
html {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%;
    color: #333;
    font: 62.45% / 1.5 sans-serif;
    text-rendering: optimizeSpeed;
    background-color: #fff;
    touch-action: manipulation;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
body {
    margin: 0;
    font-size: 1.7em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphenate-limit-chars: 6 3 2;
        hyphenate-limit-chars: 6 3 2;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
main {
    display: block;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
h1,
h2 {
    margin-top: .2em;
    margin-bottom: .2em;
    line-height: 1.07;
    font-weight: normal;
}
h1:first-line,
h2:first-line {
    font-size: 150%;
}
h1 {
    font-size: 1.9em;
}
h2 {
    font-size: 1.45em;
}
p {
    margin-top: .8em;
    margin-bottom: .8em;
}
p + p {
    margin-top: 1em;
}
br {
    word-spacing: 0;
}
a img,
abbr,
iframe {
    border: 0;
}
a,
img {
    -webkit-user-drag: none;
            user-drag: none;
}
a {
    color: #00d;
    /* font-family: inherit; */
    text-decoration: none;
    outline: none;
    pointer-events: auto;
    -webkit-box-decoration-break: clone; /* Chrome legacy, demo http://jsbin.com/xojoro/quiet */
            box-decoration-break: clone;
}
a:hover,
a:focus {
    color: #02a;
    text-decoration: underline;
}
img {
    width: auto;
    max-width: 100%;
    /* max-width: 2em; */
    height: auto;
    vertical-align: top;
    object-fit: contain;
    -ms-interpolation-mode: nearest-neighbor; /* IE8+ */
    image-rendering: -webkit-optimize-contrast; /* Webkit will drop this property https://bugs.webkit.org/show_bug.cgi?id=97991#c5 */
    image-rendering: -moz-crisp-edges; /* Firefox legacy */
    image-rendering:      crisp-edges;
    image-rendering: pixelated; /* Eaquals non standard "optimizeSpeed" */
}
blockquote {
    margin: 1.3em -3.2em 1.2em;
    /* margin-right: -4.9vw; */
    /* margin-left: -4.9vw; */
    padding: 0 3em;
    /* padding-right: 4.9vw; */
    /* padding-left: 4.9vw; */
    color: #777;
    /* background-color: #f2f2f2; */ /* Firefox doesn't overflow background inside "columns" */
    border: 0 solid transparent;
    border-width: 0 .2em;
    border-right-color: #ddd;
}
blockquote:before,
blockquote:after {
    content: "";
    display: table;
}
table {
    word-break: normal;
    word-break: keep-all;
    border-spacing: 0;
    border-collapse: collapse;
}
th, td {
    padding: .4em;
}
th {
    font-weight: bold;
    text-align: right;
}
td {
    vertical-align: top;
}
::selection {
    color: initial;
    text-shadow: none;
    background-color: rgba(255,255,60,.3);
}
html,
.\~full {
    width: 100%;
}
header ~ .\~full-size {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    height: 100vh;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-top: 5em;
    box-sizing: border-box;
}
.\~full-size iframe {
    width: 100vw;
    height: calc(100vh - 5.22em);
}
.\~size {
    min-width: 15.22em;
    max-width: 53em;
    margin: auto;
}
.\~space {
    padding-right: 4.6em;
    padding-right: 4.9vw;
    padding-left: 4.6em;
    padding-left: 4.9vw;
    margin-right: auto;
    margin-left: auto;
}
.\~wide {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    padding-right: 2em;
    padding-left: 2em;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: 2em;
    background-color: #f2f2f2;
    box-sizing: border-box;
}
.\~clearfix:after {
    /* Clearfix http://cssmojo.com/the-very-latest-clearfix-reloaded/ */
    content: "";
    display: block;
    clear: both;
}
@media (max-width: 52.01em) {
    hr {
        margin-right: -4.6em;
        margin-right: -4.9vw;
    }
}
.wrapper {
    height: 100%;
    /* baseline https://pilot.co/blog/implementing-baseline-rhythm-in-css/ */
    /* background-image: linear-gradient(rgba(255, 0, 0, 0.15), rgba(255, 0, 0, 0.15) 1px, transparent 1px); */
    /* background-size: 1px 1.5em; */
}
.container {
    /* overflow: hidden; */
    display: table;
    height: 100%;
    min-height: 100vh;
    padding-top: 5em;
    padding-bottom: 7.1em;
    box-sizing: border-box;
}
.header {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: #47194d;
    background-image: linear-gradient(to right, rgba(121, 43, 121, 0), #792b79);
}
.nav {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    max-width: 100%;
    padding: 0 1em;
    margin: 0;
    font-size: 108%;
    text-align: center;
    white-space: nowrap;
    will-change: transform;
}
.nav li {
    overflow: hidden;
    display: inline-block;
    display: -webkit-box;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    min-width: 1px;
    margin-left: 1px;
    /* vertical-align: top; */
}
.nav li:last-child {
    margin-left: 0;
}
.nav a {
    display: block;
    width: 100%;
    padding: 1em;
    padding-right: .6vw;
    padding-left: .6vw;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
}
.nav a:hover,
.nav a:focus,
.nav a.active {
    background: rgba(71, 25, 77,.5);
}
a.logo {
    fill: currentColor;
    text-decoration: none;
}
.logo svg {
    opacity: .7;
    width: 1.1em;
    margin-left: .3em;
    fill: currentColor;
    vertical-align: middle;
}
/* .shadow {
    overflow: hidden;
    position: absolute;
    bottom: -3.5em;
    right: 0;
    left: 0;
    height: 3.5em;
    pointer-events: none;
}
.shadow:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -.5em;
    right: -1em;
    left: -1em;
    pointer-events: none;
    border-top: .25em solid #fff;
    box-shadow: 0 0 2.3em 2em #fff;
} */
.main {
    padding-top: 2.3em;
    padding-bottom: 2.5em;
    padding-bottom: 4vw;
}
.main [id]:target:before {
    content: "";
    display: block;
    height: 2.5em;
    margin-top: -2.5em;
    pointer-events: none;
}
.box {
    line-height: 1;
}
.box a {
    display: block;
    width: 9.6em;
    margin: .5em;
    float: right;
    text-decoration: none;
}
.image {
    height: 9.6em;
    width: 9.6em;
    /* object-fit: cover; */ /* Size object http://dev.w3.org/csswg/css-images-3/#the-object-fit, https://css-tricks.com/on-object-fit-and-object-position/ */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid currentColor;
}
.profile {
    position: relative;
    right: -.8em;
    padding: 3em;
    margin: 1em;
    float: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    shape-outside: circle();
}
.masonry {
    padding-top: 2.8em;
    padding-bottom: 1.3em;
    margin-top: -2.3em;
    text-align: center;
    column-width: 14em;
    column-gap: .75em;
}
.masonry figure {
    overflow: hidden;
    position: relative;
    display: inline-block; /* Prevent column break an element */
    margin: 0 0 .75em;
    vertical-align: top;
    background-color: #fff;
    will-change: transform;
}
.masonry a {
    display: inline-block;
    text-decoration: none;
}
.masonry a:hover figcaption {
    transform: translateY(100%);
}
.masonry figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -.013em;
    max-height: 41px;
    padding: 0 .3em;
    color: #333;
    line-height: 2.2;
    text-shadow: 1px 0 0 rgba(255,255,255,.5);
    white-space: nowrap;
    word-wrap: normal;
    background-color: #fff;
    background-color: rgba(255,255,255,.8);
    /* box-shadow: inset 0 -1px 1px 0 rgba(0,0,0,.2); */
    transition: transform .35s cubic-bezier(.2,1,.4,1);
    will-change: transform;
}
.title {
    overflow: hidden;
    padding: .5em 0 .2em;
    font-size: 108%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.field {
    color: #aaa;
    font-size: 80%;
    vertical-align: top;
}
.list {
    margin-top: 1em;
    margin-right: 1.5em;
    float: left;
}
.list a {
    display: table;
    white-space: nowrap;
}
.list .active {
    color: #02a;
    font-weight: bold;
}
.footer {
    margin-top: -3.6em;
    padding-top: .8em;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    border-top: 1px solid #e1e1e1;
}
.\~clip {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}
@media (-webkit-min-device-pixel-ratio: 0) {
    .\~clip {
        text-overflow: clip;
        -webkit-mask: linear-gradient(to right, rgba(51,51,51,0), #333 1.5em, #333);
                mask: linear-gradient(to right, rgba(51,51,51,0), #333 1.5em, #333);
    }
}
@media (max-width: 720px) {
    blockquote {
        margin-right: -1.9em;
        margin-left: -1.9em;
        padding-right: 1.9em;
        padding-left: 1.9em;
    }
    .list {
        display: none;
    }
}
@media (max-width: 480px) {
    html {
        font-size: 58%;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.15em;
    }
}

/* Scale hack http://codepen.io/MadeByMike/pen/0dbc9b82769c3e2a0cbfc3192bcaabd3
   fluid typography https://www.smashingmagazine.com/2016/05/fluid-typography/
*/
/* @media (min-width: 20rem) {
    body {
        font-size: calc(.8rem + 1.2 * ((100vw - 20rem) / 30));
    }
}
@media (min-width: 50rem) {
    body {
        font-size: 2rem;
    }
}
p {
    margin-bottom: 1.5rem;
}
h1,
h2 {
    font-weight: 700;
    margin-bottom: 1.5rem;
}
h1 {
    font-size: 2rem;
    margin-top: calc((1.5rem - 2rem) + 1.5rem);
}
h2 {
    font-size: 1.5rem;
    margin-top: calc((1.5rem - 1.5rem) + 1.5rem*2);
} */
