---
layout: item
array: []
css: |
    .column.label.label {
        padding-right: 0;
    }
---

{% assign l10n = site.data.l10n.artist
%}<ul class="sheet profile">{%
    assign profile = "/assets" | append: page.url | append: "/profile.jpg" %}{%
    for image in site.static_files %}{%
        if image.path contains profile %}
    <li class="column figure"><div class="column image" style="background-image:url({{ profile }})"></div></li>{%
    endif %}{%
endfor %}{% assign pages = site.pages | sort: "date" | reverse %}{%

assign participations = layout.array %}{%
assign A = page.title | replace: "-", " " %}{%
for item in pages %}{%
    if item.layout == "exhibition" and item.participators %}{%
        for participator in item.participators %}{%
            assign B = participator | replace: "-", " " %}{%
            if A == B %}{%
                assign participations = participations | push: item %}{%
            endif %}{%
        endfor %}{%
    endif %}{%
endfor %}
    <li class="column auto">
        <ul class=sheet>
            <li class="row title"><h1>{{ page.title }}</h1></li>{%
if page.profile %}{%
    for item in page.profile %}{%
        assign key = item[0] %}{%
        if l10n[key] %}
            <li class=row>
                <div class="column label">{{ l10n[key] }}</div>
                <div class=column>{%
            case key %}{%
                when "email" %}<a href=mailto:{{ item[1] }} target=_blank>{{ item[1] }}</a>{%
                when "website" %}<a href="{{ item[1] }}" dir=auto target=_blank rel=noopener>{{ item[1] | remove: "https://" | remove: "http://" }}</a>{%
                else %}{{ item[1] }}{%
            endcase %}</div>
            </li>{%
        endif %}{%
    endfor %}{%
endif %}{%

if participations.size > 0 %}
            <li class=row>
                <div class="column label">{{ l10n.participations }}</div>
                <div class=column>{%
    assign participationsHTML = layout.array %}{%
    for item in participations %}{%
        capture data %}<a href="{{ item.url }}">{{ item.title }}</a>{% endcapture %}{%
        assign participationsHTML = participationsHTML | push: data %}{%
    endfor %}{{ participationsHTML | join: ", " }}
                </div>
            </li>{%
endif %}
        </ul>
    </li>
</ul>
{%
if page.statement contains "
" %}{{ page.statement | markdownify }}{%
else %}<p>{{ page.statement }}</p>{%
endif %}
<div class=list hidden>{%
assign pages = site.pages | sort: "title" %}{%
for artist in pages %}{%
    if artist.layout == "artist" %}
    <a{% if page.url == artist.url %} class=active{% endif %} href={{ artist.url | prepend: site.baseurl }}>{{ artist.title }}</a>{%
    endif %}{%
endfor %}
</div>{%

capture assets %}/assets{{ page.url }}{% endcapture %}{%
assign index = 0 %}
<div class=masonry>{%
for image in site.static_files %}{%
    if image.path contains assets %}{%
        unless image.path contains "profile" %}{%
            assign index = index | plus: 1 %}
    <figure>
        <a href={{ image.path }}>
            <img src={{ image.path }} alt="{{ page.gallery[index] }}">
            <figcaption><span class=clip>{{ page.gallery[index] }}</span></figcaption>
        </a>
    </figure>{%
        endunless %}{%
    endif %}{%
endfor %}
</div>
{{ content }}{%

if page.resume %}{%
    for subject in page.resume %}
<ul class=sheet>{%
        for item in subject %}{%
            if item[0] == "title" %}
    <li class="row title"><h3>{{ item[1] }}</h3></li>{%
            else %}
    <li class=row>
        <div class="column label">{{ item[0] }}</div>{%
                for subitem in item[1] %}
        <div class="column{% if item[1].size != subitem.size %} sheet{% endif %}">{{ subitem | remove: "\" }}</div>{%
                endfor %}
    </li>{%
            endif %}{%
        endfor %}
</ul>{%
    endfor %}{%
endif %}
