---
layout: item
css: |
    .item .sheet {
        margin-top: 2em;
        margin-bottom: 2.3em;
    }
    .item .media {
        margin-top: 2em;
        margin-bottom: -3em;
    }
---

{% if page.forms
%}<ul class=sheet>{%
    for item in page.forms %}
    <li class=row>
        <div class="column label">{{ item.label }}</div>
        <div class=column>{{ item.value | markdownify | remove: "<p>" | remove: "</p>" }}</div>
    </li>{%
    endfor %}
</ul>{%
endif %}
<div class="video media">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3392.5618309436304!2d35.18971531566086!3d31.75515898129268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502d792d8a33be1%3A0xfad4d1ad31977da7!2z16HXmNeV15PXmdeVINee16nXnNea!5e0!3m2!1sen!2sil!4v1528053925081" allow=fullscreen allowfullscreen></iframe>
</div>
